.card {
    border: none;
}

.card-header {
    background-color: transparent;
    color: black;
    border: none;
}

.row {
    margin: 0!important;
}

/* Style header */
p {
    margin: 0;
}

#header div {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#FFFFFF, #f1e4cf);
    padding: 10px;
}

#header div div {
    display: flex;
    align-items: center;
}

#header p {
    line-height: 0;
}

#headerLinks {
    display: flex;
    justify-content: space-between;
}

#headerLinks a {
    color: black;
    text-decoration: none;
}

#headerLinks a:hover {
    color: #FF9900;
}

/* Style des éléments du formulaire */

form div, #divAdress input {
    margin-bottom: 20px;
    align-items: center;
}

.form-label {
    color: #000;
    margin: 0;
}

.form-control {
    border-color: #ccc;
}

.input-group-text {
    background-color: transparent;
    border: none;
}

::placeholder {
    color: #a9a9a9;
    font-style: italic;
}

/* Style bouton*/
.btn-primary {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #fff;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

.btn-primary:hover,
.btn-success:hover {
    filter: brightness(90%);
}

.form-button .btn-success {
    margin-right: 10px;
}

/* Style du calendrier */
.datepicker {
    font-size: 14px;
    width: 350px;
}

.datepicker table {
    width: 100%;
    border-collapse: collapse;
}

.datepicker th, .datepicker td {
    padding: 10px;
    text-align: center;
}

.datepicker-switch, datepicker-switch {
    background-color: #f7bb07;
    color: #fff;
}

.datepicker-switch:hover, datepicker-switch:hover {
    background-color: #c48906!important;
    color: #fff;
}

.datepicker table tr td.active.active {
    background-color: #f7bb07!important;
    background-image: none!important;
    color: #fff;
}

.datepicker table tbody td.day:hover {
    color: #f5ba07;
    cursor: pointer;
}

#calendarIcon {
    background-color: #f5ba07!important;
    padding: 10px;
}

.datepicker table tbody td.old, .datepicker table tbody td.new {
    color: #a9a9a9;
}

.datepicker table tbody td.disabled {
    color: #d1d1d1;
    cursor: not-allowed;
}

/* Style page d'acceuil */

#home-page-header {
    background: linear-gradient(#f1e4cf, #ddbd49);
    width: 100%;
}

#home-page-header h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 61px;
    text-align: center;
    margin-bottom: 20px;
}

#search-bar {
    background-color: #fffdf391;
    padding: 6px;
    border-radius: 60px;
}

#search-bar form {
    border-radius: 60px;
    padding: 6px;
    background-color: white;
}

#search-bar form input {
    align-content: center;
    margin-top: 5px;
    border: none;
}

#search-bar form input:focus {
    border: none;
    box-shadow: none;
}

#search-bar form button {
    background-color: #f3c700;
    width: 130px;
    height: 46px;
    color: white;
    font-weight: 600;
    border-radius: 60px;
    border: none;
    padding: 0px 25px;
}

#list-profession {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f0efe3;
    border-radius: 35px;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#list-profession div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#list-profession img {
    width: 20px;
    height: 20px;
}

#list-profession label {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    margin: 0;
}

#home-page-body #text-review {
    margin-top: 20px;
    display: flex;
    align-content: center;
    align-items: center;
}

#home-page-body #text-review h3 {
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    margin: 0 5px 0 0;
}

#home-page-body #text-review img {
    width: 10px;
    height: 10px;
}

#list-profile a {
    color: black;
}

#list-profile a:hover {
    text-decoration: none;
}

/* Style page profile professionnel */

#profile-professional-page > .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#profile-professional-page > .card a {
    text-decoration: none;
    background-color: #f3c700;
    color: black;
    border-radius: 20px;
    padding: 12px 20px;
}

#profile-professional-page > .card a:hover {
    background-color: #fb771a;
}

#professional-infos-describe {
    background-color: #f6eed4;
    border-radius: 35px;
    padding: 20px;
    margin-bottom: 20px;
}

#profile-professional-page h4 i {
    color: #f3c700;
    margin-right: 10px;
}

#profile-professional-page .div-info {
    margin-bottom: 20px;
}

/* Style page prise de rendez-vous */

#div-making-appoitments input {
    border: none;
    background-color: #f3e97a;
    border-radius: 10px;
    padding: 10px;
    margin-right: 15px;
}

#div-making-appoitments input:hover {
    background-color: #f3c700;
}

/* Style chatbot */

#div-chatBot {
    position: fixed;
    z-index: 10;
    width: 35%;
    align-content: flex-end;
    right: 0;
    bottom: 0;
    background-color: white;
}

#chatBot-header {
    display: flex;
    justify-content: space-between;
    background-color: #f4e9c3;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
}

#chatBot-header button {
    background: none;
    border: none;
}

#chatBot-header button:focus {
    border: none;
    outline: none;
}

#chatBot-header label {
    margin: 0;
}

#form-chatBot {
    border: solid 5px #f4e9c3;
    border-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-chatBot p {
    margin-bottom: 10px;
}

#form-chatBot button {
    background-color: #f3e97a;
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
}

#form-chatBot button:hover {
    background-color: #f3c700;
}

#form-chatBot button:focus {
    border: none;
    outline: none;
}

#form-chatBot div div {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

#form-chatBot div {
    margin: 0;
    width: 100%;
}

#form-chatBot textarea {
    width: 100%;
    height: 70px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 10px;
}

#form-chatBot textarea:focus-visible {
    outline: none;
}

.div-button-validate {
    justify-content: end!important;
    margin-top: 10px!important;
}